__001 print 기초__  
화면에 Hello world 문자열을 출력하세요.

In [1]:
print('Hello World')
print("Hello World!")

Hello World
Hello World!


__002 print 기초__  
화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요.)

In [2]:
print("Mary's cosmetics")
print("""Mary's cosmetics""")

Mary's cosmetics
Mary's cosmetics

__003 print 기초__  
화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)  

신씨가 소리질렀다. "도둑이야".

In [3]:
print("신씨가 소리질렸다. \"도둑이야\".")
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렸다. "도둑이야".
신씨가 소리질렀다. "도둑이야".

__004 print 기초__  
화면에 C:\windows를 출력하세요.

In [4]:
print("C:\Windows")

C:\Windows

__005 print 탭과 줄바꿈__  
다음 코드를 실행해보고 \t와 \n의 역할을 설명해 보세요.

In [5]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

`\t`는 탭을 의미하고 `\n`은 줄바꿈을 의미합니다.

__006 print 여러 데이터 출력__  
print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해 봅시다.

In [6]:
print ("오늘은", "일요일")
#예상: 오늘은 일요일

오늘은 일요일

여러 값을 출력하려면 print 함수에서 쉼표로 구분해주면 됩니다. 따라서 '오늘은' 다음에 공백이 하나 있고 '일요일'이 출력됩니다.

__007 print 기초__<br/>
print() 함수를 사용하여 다음과 같이 출력하세요.

naver;kakao;sk;samsung

In [7]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung


print 함수의 sep 인자로 ";"를 입력하면 출력되는 값들 사이에 한 칸의 공백대신 세미콜론이 출력됩니다.

In [8]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

__008 print 기초__<br/>
print() 함수를 사용하여 다음과 같이 출력하세요.<br/>

naver/kakao/sk/samsung

In [9]:
print("naver/kakao/sk/samsung")
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung
naver/kakao/sk/samsung

__009 print 줄바꿈__<br/>
다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='')<br/>
print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

In [13]:
print("first");print("second")
print("first", end="");print("second")

first
second
firstsecond

end옵션을 사용하면 그 뒤의 출력값과 이어서 출력한다.

__010 연산 결과 출력__<br/>
5/3의 결과를 화면에 출력하세요.

In [12]:
print(5/3)

1.6666666666666667