__031 문자열 합치기__  
아래 코드의 실행 결과를 예상해보세요.  

```
a = "3"  
b = "4"  
print(a + b)
```

In [1]:
a = "3"
b = "4"
print(a + b)

# 예상: 34

34

__032 문자열 곱하기__  
아래 코드의 실행 결과를 예상해보세요.  

```
print("Hi" * 3)
```

In [2]:
print("Hi" * 3)

#예상: HiHiHi

HiHiHi

__033 문자열 곱하기__  
화면에 '-'를 80개 출력하세요.  

실행 예:  
```--------------------------------------------------------------------------------```

In [3]:
print("-"*80)

--------------------------------------------------------------------------------

__034 문자열 곱하기__  
변수에 다음과 같은 문자열이 바인딩되어 있습니다.  

```
t1 = 'python'
t2 = 'java'
```
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.  

실행 예:  
```python java python java python java python java```

In [4]:
t1 = 'python'
t2 = 'java'

print((t1+" "+t2+" ")*4)

python java python java python java python java

__035 문자열 출력__  
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.  

```
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
```
```
이름: 김민수 나이: 10
이름: 이철희 나이: 13
```

In [5]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

__036 문자열 출력__  
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [6]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

__037 문자열 출력__  
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [7]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

string1 = f"이름: {name1} 나이: {age1}"
string2 = f"이름: {name2} 나이: {age2}"
print(string1)
print(string2)

이름: 김민수 나이: 10
이름: 이철희 나이: 13

__038 컴마 제거하기__  
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.  

```상장주식수 = "5,969,782,550"```

In [8]:
상장주식수 = "5,969,782,550"

rep = 상장주식수.replace(",","")
sti = int(rep)
print(sti, type(sti))

5969782550 <class 'int'>

__039 문자열 슬라이싱__  
다음과 같은 문자열에서 '2020/03'만 출력하세요.  

```분기 = "2020/03(E) (IFRS연결)"```

In [9]:
분기 = "2020/03(E) (IFRS연결)"

조각 = 분기.split(' ')
print(조각[0])

2020/03(E)

__040 strip 메서드__  
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

```data = "   삼성전자    "```

In [10]:
data = "   삼성전자    "
print(data.strip())

삼성전자