__071__  
my_variable 이름의 비어있는 튜플을 만들라.

In [1]:
my_variable =()
type(my_variable)

tuple

__072__  
2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

|순위|영화|
|:-|:-|
|1|닥터 스트레인지|
|2|스플릿|
|3|럭키|

In [2]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

__073__  
숫자 1 이 저장된 튜플을 생성하라.

In [3]:
data =(1, )
type(data)

tuple

괄호와 함께 하나의 정숫값을 저장하면 튜플이 정의 될 것같지만 그렇지 않습니다.

In [4]:
my_tuple = (1)
type (my_tuple)

int

type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식합니다.

__074__  
다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

```
t = (1, 2, 3)
t[0] = 'a'
```

In [5]:
t = (1, 2, 3)
t[0] = 'a'

# 튜플은 요소 값을 변경할 수 없다.

TypeError: 'tuple' object does not support item assignment

__075__  
아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다.  
t가 바인딩하는 데이터 타입은 무엇인가?

```t = 1, 2, 3, 4```

In [6]:
t = 1, 2, 3, 4
type(t)

# tuple

tuple

__076__  
변수 t에는 아래와 같은 값이 저장되어 있다.  
변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정하라.

```t = ('a', 'b', 'c')```

In [7]:
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

튜플의 값은 변경할 수 없으므로, 새로운 튜플을 만들고 t라는 변수를 업데이트 해야 함.

__077__  
다음 튜플을 리스트로 변환하라.  

```interest = ('삼성전자', 'LG전자', 'SK Hynix')```

In [8]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

data = list(interest)
print(data)
type(data)

['삼성전자', 'LG전자', 'SK Hynix']

list

__078__  
다음 리스트를 튜플로 변경하라.  

```interest = ['삼성전자', 'LG전자', 'SK Hynix']```

In [9]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']

data = tuple(interest)
print(data)
type(data)

('삼성전자', 'LG전자', 'SK Hynix')

tuple

__079 튜플 언팩킹__  
다음 코드의 실행 결과를 예상하라.  

```
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
```

In [10]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

print(type(temp))

apple banana cake
<class 'tuple'>

__080 range 함수__  
1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.  

```(2, 4, 6, 8 ... 98)```

In [11]:
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)