__081 별 표현식__  
기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다.  
하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다.   
튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

```a, b, *c = (0, 1, 2, 3, 4, 5)```
```
>>a
0

>>b
1

>>c
[2, 3, 4, 5]
````

다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, star expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

```scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]```

In [1]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, a, b = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

__082__  
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

```scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]```

In [2]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

__083__  
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

```scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]```

In [3]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

__084 비어있는 딕셔너리__  
temp 이름의 비어있는 딕셔너리를 만들라.

In [4]:
temp = {}
type(temp)

dict

__085__  
다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

|이름|희망 가격|
|:-|:-|
|메로나|1000|
|폴라포|1200|
|빵빠레|1800|

In [5]:
ice_cream = {
    '메로나': 1000,
    '폴라포': 1200,
    '빵빠레': 1800
}
print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

__086__  
085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

|이름|희망 가격|
|:-|:-|
|죠스바|1200|
|월드콘|1500|

In [6]:
ice_cream = {
    '메로나': 1000,
    '폴라포': 1200,
    '빵빠레': 1800
}

ice_cream['죠스바'] = 1200
ice_cream['월드콘'] = 1500

print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

__087__  
다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

```
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

실행 예:
메로나 가격: 1000
```

In [7]:
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

__088__  
다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

```
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
```

In [8]:
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

__089__  
다음 딕셔너리에서 메로나를 삭제하라.

```
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
```

In [9]:
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice['메로나']
print(ice)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

__090__  
다음 코드에서 에러가 발생한 원인을 설명하라.

```
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']

Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'
```

In [10]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: '누가바'

value를 안적음 / 딕셔너리에 없는 키임