__141__  
다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.
```
리스트 = [100, 200, 300]

110
210
310
```

In [1]:
리스트 = [100, 200, 300]

for 판매가 in 리스트:
    print(판매가 + 10)

110
210
310

__142__  
for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.
```
리스트 = ["김밥", "라면", "튀김"]

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김
```

In [2]:
리스트 = ["김밥", "라면", "튀김"]

for 음식 in 리스트:
    print('오늘의 메뉴:', 음식)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

__143__  
리스트에 주식 종목이름이 저장돼 있다. 저장된 문자열의 길이를 다음과 같이 출력하라.

```
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

6
4
4
```

In [3]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for 종목 in 리스트:
    print(len(종목))

6
4
4

__144__  
리스트에는 동물이름이 문자열로 저장돼 있다. 동물 이름과 글자수를 다음과 같이 출력하라.

```
리스트 = ['dog', 'cat', 'parrot']

dog 3
cat 3
parrot 6
```

In [4]:
리스트 = ['dog', 'cat', 'parrot']

for 동물 in 리스트:
    print(동물, len(동물))

dog 3
cat 3
parrot 6

__145__  
리스트에 동물 이름이 저장돼 있다. for문을 사용해서 동물 이름의 첫 글자만 출력하라.
```
리스트 = ['dog', 'cat', 'parrot']

d
c
p
```

In [5]:
리스트 = ['dog', 'cat', 'parrot']

for 동물 in 리스트:
    print(동물[0])

d
c
p

__146__  
리스트에는 세 개의 숫자가 바인딩돼 있다. for문을 사용해서 다음과 같이 출력하라.

```
리스트 = [1, 2, 3]

3 x 1
3 x 2
3 x 3
```

In [6]:
리스트 = [1, 2, 3]

for 숫자 in 리스트:
    print('3 X', 숫자)

3 X 1
3 X 2
3 X 3

__147__  
리스트에는 세 개의 숫자가 바인딩돼 있다. for문을 사용해서 다음과 같이 출력하라.
```
리스트 = [1, 2, 3]

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
```

In [7]:
리스트 = [1, 2, 3]

for 숫자 in 리스트:
    print('3 X', 숫자, '=', 3 * 숫자)

for 숫자 in 리스트:
  print("3 x {} = {}".format(숫자, 3 * 숫자))

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

__148__  
리스트에는 네 개의 문자열이 바인딩돼 있다. for문을 사용해서 다음과 같이 출력하라.
```
리스트 = ["가", "나", "다", "라"]

나
다
라
```

In [8]:
리스트 = ["가", "나", "다", "라"]

for 한글 in 리스트[1:]:
    print(한글)

나
다
라

__149__  
리스트에는 네 개의 문자열이 바인딩돼 있다. for문을 사용해서 다음과 같이 출력하라.
```
리스트 = ["가", "나", "다", "라"]

가
다
```

In [9]:
리스트 = ["가", "나", "다", "라"]

for 한글 in 리스트[::2]:
    print(한글)

가
다

__150__  
리스트에는 네 개의 문자열이 바인딩돼 있다. for문을 사용해서 다음과 같이 출력하라.
```
리스트 = ["가", "나", "다", "라"]

라
다
나
가
```

In [10]:
리스트 = ["가", "나", "다", "라"]

for 한글 in 리스트[::-1]:
    print(한글)

라
다
나
가