__161__  
for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [1]:
for num in range(100):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

__162__  
월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.
```
2002
2006
2010
...
2042
2046
2050
```

참고) range의 세번 째 파라미터는 증감폭을 결정합니다.

```
>> print(list(range(0, 10, 2)))
[0, 2, 4, 6, 8]
```

In [2]:
for num in range(2002, 2051, 4):
    print(num)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

__163__  
1부터 30까지의 숫자 중 3의 배수를 출력하라.
```
3 
6 
9 
12 
15 
18 
21 
24 
27 
30
```

In [3]:
for num in range(3, 31, 3):
    print(num)
    
for num in range(1, 31):
    if num % 3 == 0:
        print(num)

3
6
9
12
15
18
21
24
27
30
3
6
9
12
15
18
21
24
27
30

__164__  
99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

In [4]:
for num in range(99, -1, -1):
    print(num)
    
for num in range(100):
    print(99 - num)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

__165__  
for문을 사용해서 아래와 같이 출력하라.
```
0.0
0.1
0.2
0.3
0.4
0.5
...
0.9
```

In [5]:
for num in range(10):
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

__166__  
구구단 3단을 출력하라.
```
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
```

In [6]:
for num in range(1,10):
    print('3X{} = {}'.format(num, 3*num))

3X1 = 3
3X2 = 6
3X3 = 9
3X4 = 12
3X5 = 15
3X6 = 18
3X7 = 21
3X8 = 24
3X9 = 27

__167__  
구구단 3단을 출력하라. 단 홀수 번째만 출력한다.
```
3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27
```

In [7]:
for num in range(1,10, 2):
    print('3X{} = {}'.format(num, 3*num))
    
for num in range(10):
    if num % 2 == 1:
        print('3X{} = {}'.format(num, 3*num))

3X1 = 3
3X3 = 9
3X5 = 15
3X7 = 21
3X9 = 27
3X1 = 3
3X3 = 9
3X5 = 15
3X7 = 21
3X9 = 27

__168__  
1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

```합 : 55```

In [8]:
total = 0

for num in range(1, 11):
    total += num   # total = total + num
print('합:', total)

합: 55

__169__  
1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

```합: 25```

In [9]:
total = 0
for num in range(1, 11, 2):
    total += num
print('홀수합:', total)

홀수합: 25

__170__  
1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [10]:
total = 1
for num in range(1, 11):
    total *= num
print('곱:', total)

곱: 3628800