__221__  
입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

```
print_reverse("python")
nohtyp
```

In [1]:
def print_reverse(a):
    print(a[::-1])

In [2]:
print_reverse("python")

nohtyp

__222__  
성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.
```
print_score ([1, 2, 3])
2.0
```

In [3]:
def print_score(a):
    print(sum(a) / len(a))

In [4]:
print_score([1, 2, 3])

2.0

__223__  
하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

```
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12
```

In [5]:
def print_even(a):
    for i in range(len(a) - 1):
        if a[i] % 2 == 0:
            print(a[i])

In [6]:
print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

__224__  
하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.
```
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별
```

In [7]:
def print_keys(a):
    for i in a.keys():
        print(i)

In [8]:
print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

__225__  
my_dict에는 날짜를 키값으로 OHLC(시가(Open), 고가(High), 저가(Low), 종가(Close))가 리스트로 저장돼 있다.  
```
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
```
my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

```
print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]
```

In [9]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(my_dict, key):
    print(my_dict[key])

In [10]:
print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

__226__  
입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.
```
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸
```

In [11]:
def print_5xn(string):
    length = len(string)
    for i in range(0, length, 5):
        print(string[i:i+5])

In [12]:
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

__227__  
문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.
```
printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸
```

In [13]:
def printmxn(string, length):
    for i in range(0, len(string), length):
        print(string[i:i+length])

In [14]:
printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

__228__  
연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.
```
calc_monthly_salary(12000000)

1000000
```

In [15]:
def calc_monthly_salary(annual_salary):
    print(int(annual_salary / 12))

In [16]:
calc_monthly_salary(12000000)

1000000

혹은

In [17]:
def calc_monthly_salary(annual_salary):
    monthly_pay = int(annual_salary / 12)
    return monthly_pay

In [18]:
calc_monthly_salary(12000000)

1000000

__229__  
아래 코드의 실행 결과를 예측하라.
```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)
```

In [19]:
# 예상:
# 왼쪽: 100
# 오른쪽: 200

In [20]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

__230__  
아래 코드의 실행 결과를 예측하라.
```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)
```

In [21]:
# 예상:
# 왼쪽: 200
# 오른쪽: 100

In [22]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

바인딩을 지정한 변수는 호출 순서에 영향을 받지 않는다.