__051 모듈 임포트__  
판다스의 시리즈 클래스를 사용하기 위해 주로 사용하는 두 가지 방식으로 임포트해보세요.

In [13]:
import pandas as pd
from pandas import Series

__052 시리즈의 생성 (리스트)__  
다음 데이터를 시리즈로 객체로 생성해보세요.

|점수|
|---|
|100|
|200|
|300|

In [2]:
Series([100, 200, 300])

0    100
1    200
2    300
dtype: int64

__053 시리즈의 생성 (인덱스 지정)__  
생성된 시리즈 객체에 인덱스를 추가해보세요.

|인덱스|점수|
|:-|:-|
|철수|100|
|영희|200|
|아름|300|

In [3]:
Series([100, 200, 300], ['철수', '영희', '아름'])

철수    100
영희    200
아름    300
dtype: int64

In [4]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data)
s.index = index
print(s)

철수    100
영희    200
아름    300
dtype: int64

__054 시리즈의 생성 (딕셔너리)__  
다음 데이터를 파이썬 딕셔너리로 표현해보세요. 딕셔너리의 key로 인덱스를 value로 점수 컬럼을 지정하세요. 생성된 딕셔너리를 사용하여 시리즈 객체를 생성해봅시다.

|인덱스|점수|
|:-|:-|
|철수|100|
|영희|200|
|아름|300|

In [5]:
data = {'철수': 100, '영희': 200, '아름': 300}
Series(data)

철수    100
영희    200
아름    300
dtype: int64

__055 시리즈 생성__  
다음은 네이버 금융에서 특정 거래일의 인기 종목과 해당 종목의 종가 데이터입니다. 종목명을 인덱스로 하여 종가를 데이터로 지정하여 시리즈 객체를 생성해봅시다.

|종목명|종가|
|:-|:-|
|삼성전자|73000|
|셀트리온|356000|
|카카오|367000|
|삼성전자우|68600|
|현대바이오|34150|

In [6]:
data = {
    "삼성전자": 73000,
    "셀트리온": 356000,
    "카카오": 367000,
    "삼성전자우": 68600,
    "현대바이오": 34150
}
Series(data)

삼성전자      73000
셀트리온     356000
카카오      367000
삼성전자우     68600
현대바이오     34150
dtype: int64

__056 시리즈 인덱스__  
시리즈에 저장된 인덱스만을 출력해보세요.
```
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
```

In [7]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.index

Index(['철수', '영희', '아름'], dtype='object')

__057 시리즈 데이터__  
인덱스 없이 시리즈에 저장된 데이터만을 출력해보세요.
```
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

[100 200 300]
```

In [8]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.values

array([100, 200, 300], dtype=int64)

__058 시리즈와 딕셔너리__  
시리즈를 딕셔너리로 변경해 보세요.
```
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
```
실행 결과  
```{'철수': 100, '영희': 200, '아름': 300}```

In [9]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
dict(s)

{'철수': 100, '영희': 200, '아름': 300}

In [10]:
s.to_dict()

{'철수': 100, '영희': 200, '아름': 300}

__059 시리즈와 엑셀__  
시리즈를 엑셀 파일(data.xlsx)에 저장해 보세요.
```
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
```

In [11]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.to_excel("data.xlsx")

__060 시리즈와 엑셀__  
엑셀 파일(data.xlsx)을 읽어 오세요.  
```pd.read_excel```  
```
실행 결과
철수    100
영희    200
아름    300
Name: 0, dtype: int64
```

In [12]:
pd.read_excel('data.xlsx', index_col=0)[0]

철수    100
영희    200
아름    300
Name: 0, dtype: int64