In [14]:
import pandas as pd
from pandas import Series
import numpy as np

__081 시리즈 추가__  
시리즈에 순이 인덱스에 400을 추가하라.
```
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
```

In [2]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

s["순이"] = 400
s

철수    100
영희    200
아름    300
순이    400
dtype: int64

In [3]:
s.loc["순이"] = 400
s

철수    100
영희    200
아름    300
순이    400
dtype: int64

__082 시리즈 삭제__  
시리즈에 철수를 삭제하라.
```
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
```

In [4]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

print(s.drop("철수"))   # drop은 원본 데이터를 수정하지 않고 결과를 변환함
print(s)

영희    200
아름    300
dtype: int64
철수    100
영희    200
아름    300
dtype: int64

In [5]:
s.iloc[1:]

영희    200
아름    300
dtype: int64

__083 시리즈 삭제 (inplace)__  
시리즈 객체에서 drop 메소드를 사용하여 철수를 삭제하세요. 이때 drop 메소드의 인자로 inplace=True를 사용해보고 그 의미를 설명해보세요.
```
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
```

In [6]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

s.drop("철수", inplace = True)   # inplace = True 옵션을 추가했으므로 drop이 원본 데이터를 수정하여 결과를 반환함
s

영희    200
아름    300
dtype: int64

__084 unique__  
다음 시리즈 객체는 주식 종목별 업종을 나타냅니다. 업종 중 중복적인 값을 제외한 값을 출력해보세요.
```
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = Series(data)
```

In [7]:
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = Series(data)

s.unique()

array(['전기,전자', '운수장비', '서비스업'], dtype=object)

__085 unique__  
다음 시리즈 객체는 파이스탁 출판사의 저녁 식대 지출 내역입니다. 식대 금액에 대해서 중복적인 값을 제외한 값만 출력해보세요.
```
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)
```

In [8]:
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

s.unique()

array([ 9000,  8000, 10000], dtype=int64)

__086 unique__  
다음 시리즈 객체는 파이스탁 출판사의 저녁 식대 지출 내역입니다. 한 번이라도 야근한 직원들의 명부를 출력해보세요.
```
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)
```

In [9]:
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

s.index.unique()

Index(['김과장', '이대리', '박전무'], dtype='object')

__087 value_counts__  
다음 시리즈 객체는 파이스탁 출판사의 저녁 식대 지출 내역입니다. 식대 금액별로 횟수를 출력해보세요.
```
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)
```

In [10]:
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

s.value_counts()

9000     3
8000     1
10000    1
Name: count, dtype: int64

__088 value_counts__  
다음 시리즈 객체는 파이스탁 출판사의 저녁 식대 지출 내역입니다. 직원별 야근 회수를 출력해보세요.
```
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)
```

In [11]:
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

s.index.value_counts()

이대리    3
김과장    1
박전무    1
Name: count, dtype: int64

__089 value_counts__  
다음 시리즈 객체는 종목에 대한 업종 정보를 표현합니다. 업종별 발생 횟수를 출력해보세요.
```
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = Series(data)
```

In [12]:
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = Series(data)

s.value_counts()

전기,전자    2
서비스업     2
운수장비     1
Name: count, dtype: int64

__090 missing data__  
아래 표는 어떤 회사의 재무제표의 일부 항목입니다. 다음 표를 판다스 시리즈 객체로 생성하세요. PER 값이 존재하지 않는데 이를 numpy 모듈의 nan 타입을 사용해서 표현하면 됩니다.

|항목|값|
|:-|:-|
|매출액|300|
|PER|N/A|
|PBR|2.0|

In [13]:
index = ["매출액", "PER", "PBR"]
value = [300, np.nan, 2.0]

pd.Series(value, index)

매출액    300.0
PER      NaN
PBR      2.0
dtype: float64