In [16]:
import numpy as np
import pandas as pd
from pandas import Series

__091 시리즈 정렬__  
시리즈에 저장된 데이터의 순서를 변경하라.
```
data = [100, 300, 200]
index = ["08/01", "08/02", "08/03"]
s = Series(data, index)
```
```
08/01    100
08/03    200
08/02    300
dtype: int64
```

In [2]:
data = [100, 300, 200]
index = ["08/01", "08/02", "08/03"]
s = Series(data, index)
s

08/01    100
08/02    300
08/03    200
dtype: int64

In [3]:
s.iloc[ [0, 2, 1]]

08/01    100
08/03    200
08/02    300
dtype: int64

In [4]:
s.loc[["08/01", "08/02", "08/03"]]

08/01    100
08/02    300
08/03    200
dtype: int64

__092 시리즈 정렬__  
시리즈에 저장된 데이터를 오름차순 혹은 내림차순으로 정렬하라.

> randint 함수는 지정된 범위 (10)에서 임의의 숫자를 생성해서 numpy의 ndarray 객체로 반환 합니다. 실행할 때마다 다른 값이 출력되는데, 이는 정상입니다.  

```
data = np.random.randint(10, size=4)
s = Series(data)
```
```
3    0
2    5
1    7
0    9
dtype: int32
```

In [5]:
data = np.random.randint(10, size=4)
s = Series(data)
s.sort_values()

0    1
1    4
3    4
2    7
dtype: int32

In [6]:
s.sort_values(ascending = False)

2    7
1    4
3    4
0    1
dtype: int32

__093 시리즈 정렬__  
인덱스를 기준으로 a, b, c 순서로 데이터를 정렬하라.  
```s = Series(np.random.randint(10, size=4), ["b", "c", "a", "d"])```
```
a    3
b    3
c    1
d    4
dtype: int32
```

In [7]:
s = Series(np.random.randint(10, size=4), ["b", "c", "a", "d"])
s

b    7
c    6
a    5
d    9
dtype: int32

In [8]:
s.sort_index()

a    5
b    7
c    6
d    9
dtype: int32

__094 시리즈 연산__  
시리즈에 네 제곱한 결과를 시리즈로 출력하라.
```
data = [100, 300, 200]
s = Series(data)
```

In [9]:
data = [100, 300, 200]
s = Series(data)

s ** 4

0     100000000
1    8100000000
2    1600000000
dtype: int64

__095 시리즈 덧셈__  
다음 연산의 결과를 예측하라.
```
data = [100, 300, 200]
s0 = Series(data, ["a", "b", "c"])
s1 = Series(data, ["a", "c", "b")
print(s0 + s1)
```

In [10]:
data = [100, 300, 200]
s0 = Series(data, ["a", "b", "c"])
s1 = Series(data, ["a", "c", "b"])
print(s0 + s1)

# a 100 + 100
# b 300 + 200
# c 200 + 300

a    200
b    500
c    500
dtype: int64

__096 시리즈 뺄셈__  
다음 연산의 결과를 예측하고 그 원인을 설명하라.
```
high = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
low = Series(data=[50700, 50500, 50500], index=["5/1", "5/2", "5/4"])

diff = high – low
print(diff)
```

In [11]:
high = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
low = Series(data=[50700, 50500, 50500], index=["5/1", "5/2", "5/4"])

diff = high - low
print(diff)

# 5/1   51500 - 50700
# 5/2   51200 - 50500
# 5/3   NaN (low값이 없음)
# 5/4   NaN (high값이 없음)

5/1    800.0
5/2    700.0
5/3      NaN
5/4      NaN
dtype: float64

__097 시리즈의 비교연산__  
시리즈에서 52000보다 작은 값을 출력하라.  
```s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])```

In [12]:
s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
s[s<52000]

5/1    51500
5/2    51200
dtype: int64

__098 시리즈 비교연산__  
5월 1일 이후의 데이터를 출력하라.  
```s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])```

In [13]:
s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
s[s.index > "5/1"]

5/2    51200
5/3    52500
dtype: int64

__099 시리즈 비교연산__  
51400원 이상 53000 이하의 값을 출력하라.  
```s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])```

In [14]:
s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
s[(s >= 51400) & (s <= 53000)]

5/1    51500
5/3    52500
dtype: int64

__100 시리즈 비교연산__  
시리즈에서 가격이 52000원 이하였던 날은 몇일인가?  
```s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])```

In [15]:
s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
s[s <= 52000].index

Index(['5/1', '5/2'], dtype='object')