In [20]:
import pandas as pd

__141 데이터프레임 컬럼 접근__  
데이터프레임에서 현재가 컬럼만 출력해보세요.
```
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)
```

In [2]:
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [3]:
df['현재가']

종목코드
037730    1510
036360    1790
005760    1185
Name: 현재가, dtype: int64

In [4]:
df.loc[:, "현재가"]

종목코드
037730    1510
036360    1790
005760    1185
Name: 현재가, dtype: int64

In [5]:
df.iloc[:, 1]

종목코드
037730    1510
036360    1790
005760    1185
Name: 현재가, dtype: int64

__142 컬럼 인덱싱__  
데이터프레임에서 현재가 컬럼을 인덱싱하는데 이를 데이터프레임 타입이 되도록 하세요.

In [6]:
df[['현재가']]

         현재가
종목코드
037730  1510
036360  1790
005760  1185

In [7]:
df.loc[:, "현재가"].reset_index()

     종목코드   현재가
0  037730  1510
1  036360  1790
2  005760  1185

In [8]:
df.iloc[:, 1].reset_index()

     종목코드   현재가
0  037730  1510
1  036360  1790
2  005760  1185

__143 데이터프레임 멀티 컬럼 접근__  
위의 데이터프레임에서 "현재가"와 "등락률" 컬럼을 인덱싱해보세요.

In [9]:
df[["현재가", "등락률"]]

         현재가   등락률
종목코드
037730  1510  7.36
036360  1790  1.65
005760  1185  1.28

In [10]:
df.loc[:, ["현재가", "등락률"]]

         현재가   등락률
종목코드
037730  1510  7.36
036360  1790  1.65
005760  1185  1.28

In [11]:
df.iloc[:, 1:]

         현재가   등락률
종목코드
037730  1510  7.36
036360  1790  1.65
005760  1185  1.28

__144 데이터프레임 로우 접근 (iloc 속성)__  
데이터프레임에서 iloc 속성을 사용하여 0번째 행을 출력해보세요.

In [12]:
df.iloc[0, :]

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

__145 데이터프레임 로우 접근 (iloc 속성)__  
데이터프레임에서 iloc 속성을 사용하여 가장 아래쪽의 행을 출력해보세요.

In [13]:
df.iloc[-1, :]

종목명    ACTS
현재가    1185
등락률    1.28
Name: 005760, dtype: object

__146 데이터프레임 멀티 로우 접근 (iloc 속성)__  
데이터프레임에서 iloc 속성을 사용하여 0번째, 2번째 행을 출력해보세요.

In [14]:
df.iloc[[0, 2], :]

         종목명   현재가   등락률
종목코드
037730    3R  1510  7.36
005760  ACTS  1185  1.28

__147 loc__  
위 데이터프레임에서 "037730" 종목의 데이터를 인덱싱해보세요.

In [15]:
df.loc["037730", :]

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

__148 loc 멀티 인덱싱__  
위 데이터프레임에서 첫 번째와 세 번째 행을 동시에 인덱싱해보세요.

In [16]:
df.loc[["037730", "005760"], :]

         종목명   현재가   등락률
종목코드
037730    3R  1510  7.36
005760  ACTS  1185  1.28

__149 특정 값 가져오기 (iloc)__  
위 데이터프레임에서 037730 종목의 등락률을 출력하세요.

In [17]:
df.iloc[0, 2]

7.36

__150 DataFrame.iat 과 DataFrame.at__  
위 데이터프레임에서 iat과 at 속성을 사용하여 037730 종목의 등락률을 출력하세요.

In [18]:
df.iat[0, 2]

7.36

In [19]:
df.at["037730", "등락률"]

7.36